.container1 {
    max-width: 1000px;
    margin: 120px auto;
    margin-top: 100px;
    margin-right: auto;
    margin-bottom: 100px;
    margin-left: auto;
    border: 1px;
    border-radius: 25px;
    background-color: white;
    display: block;
  }


  
  body  {
    background-image: url(../img/darkwood1.jpg);
    image-rendering: auto;
    background-size: cover;
    flex-wrap: nowrap;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
  
  }
    
        header {
        display: flex;
        justify-content: space-evenly;
        background: lightgoldenrodyellow;
        padding: 20px;
        height: 175px;
     
        
        
    }

    .navbar-custom  {
      background-color: lightgoldenrodyellow;

    }


    .navbar-custom .navbar-brand, 
    .navbar-custom .navbar-text { 
    color: black; 
    } 

    .custom-toggler.navbar-toggler { 
      border-color: black; 
      border-style: groove;
      border-width: 1px;
      height: 85px;
  } 


  .roundimg {
    border-radius: 10px;
  }

  .picpad {
   
    padding: 25px;

    
  }

    .bottompad {
        
        margin-bottom: 50px;
        
        
    }

    p   {
       
        margin: 25px;
        font-size: 24px;
        font-family:'Roboto', sans-serif;
        justify-content: center;
        text-align: justify;
        color: black;
        
    }

    span {
        margin: 25px;
        font-size: 24px;
        font-family:'Roboto', sans-serif;
        justify-content: center;
        
        
    }

    figure  {
        margin: 0;
    }

    ul  {
        list-style-type: none;
        
      
    }
   
    li {
        font-size: 20px;

        
    
    }

    a   {
        text-decoration: none;
        color: black;
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        margin: 5px;
    
    }

    


    a:hover {
        color: goldenrod;

    }

    .h1, .h2  {
        text-align: center;
        font-family: 'Amatic SC', cursive;
        font-size: 36px;    
        font-weight: bold;
        color: black;
        padding: 25px;
     }


     .row {
        align-items: center;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        color: black;
        justify-content: space-around;
        padding: 25px;
        
      }
         
      .column {
        align-items: center;
        background-position: center center;
        display: flex;
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 24px;  
        justify-content: space-evenly;
        padding: 25px;


      }

      .center1 {
          text-align: center;
          justify-content: center;
          padding: 45px;
          margin-bottom: 25px;
          
      }

      .width100 {
         width: 100%;
         height: 610px;
         
      }
          
    
      div#carousel > figure > img {
        display: none;
        margin: 0px auto;
        padding: 0px auto;
    }
    
    div#carousel > figure.visible > img {
        display: block;
        position: relative;
        overflow: hidden;
    }
    
    div#carousel > figure > figcaption {
        display: none;
    }
    
    div#carousel > figure.visible > figcaption {
        display: block;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
    }
   
    .div1   {
        display: flex;
        justify-content: flex-end;
        font-size: 38px;
        font-family: caveat;
        margin: 50px;
        padding: 10px;

    }

    .main-container {
        min-height: 100vh; 
        overflow: hidden;
        display: block;
        position: relative;
        padding-bottom: 100px; 
        width: 100%;
        top: 0;
        margin: 0;
       }

       .footer1 {
        
        bottom: 0;
        width: 100%;
        background:lightgoldenrodyellow;
        color: black;
        font-family:'Roboto', sans-serif;
        font-weight: bolder;
        font-size: 16px;
        text-align: center;
       
        
       }

       button {
        text-align: center;
        justify-content: center;
        padding: 25px;
        color: black;
        font-size : 28px; 
        font-family:'Roboto', sans-serif;
        font-weight: bold;
        cursor: pointer;
        text-shadow: 1px 1px 1px #000;
        transition: 0.4s ease-in-out;
        }

        button  {
          background-color: lightgoldenrodyellow;
        }

        button:hover {
          background-color: burlywood ;
        }

      .row1 {
          display: flex;
          justify-content: space-around;
          flex-wrap: nowrap;
          text-align: bottom;
          padding: 35px;
  
      }

      .column1  {
        align-items: center;
        text-align: center;
        display: flex;
        color: black;
        font-family:'Roboto', sans-serif;
        justify-content: space-around;
        text-align: bottom;
        margin: 0;
        padding: 0;
      } 

      .grid-city2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
        font-family:'Roboto', sans-serif;
        color: black;
        align-items: center;
      }
      
      
      .grid-city3 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fit, 225px);
        grid-gap: 25px;
        font-family:'Roboto', sans-serif;
        color: black;
        align-items: center;
        justify-content: center;
        margin: 25px;
      }

  

      .infop    {
        font-size: 24px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: justify;
      }

     .bottominfo {
        display: flex;
        flex-wrap: wrap;
        columns: 3;
        list-style-type: none;
        margin: 0px;
        padding: 25px;
        text-align: center;
        justify-content: center;
        margin: auto;
      }

      .bottominfoli {
        display: flex;
        padding: 5px;
        margin: 12px;
        background-color: brown;
        color: white;
        border-radius: 10px;
        white-space: nowrap;
        flex-wrap: wrap;
        font-weight: bolder;
      }

      .h4 {
        display: flex;
        font-family:'Roboto', sans-serif;
        font-size: 24px;
        line-height: 3;
        color: black;
        justify-content: center;
        text-align: center;
      }
      

      .headerimg    {
        height:140px; 
        width:20%;
        margin: 25px;
      }

      .amatic {
        font-family: 'Amatic SC', cursive;
        font-size: 26px;
        color: black;
      }

      .resfont  {
        font-size : 28px; 
        font-family: 'Roboto', Arial, sans-serif;
        padding: 20px; 
        text-align: justify;
        font-weight: bold;
        
        
        
        
      }

      * {
        margin: 0;
        padding: 0;
        outline: none;
        box-sizing: border-box;
        font-family:'Roboto', Arial, sans-serif;
        font-weight: bold;

      }

      
      .waterview  {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/The_River_Cafe_at_night.jpg/1200px-The_River_Cafe_at_night.jpg");
        background-size:cover;
        background-position: center center;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
      }

      .wrapper  {
        position: absolute;
        background: rgba(0,0,0,0.6);
        width: 500px;
        padding: 15px;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
      }

      .wrapper .input {
        width: 85%;
        padding: 15px 20px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
      }

      .searchbtn  {
        background: lightgoldenrodyellow;
        width: 10%;
        border-radius: 5px;
        position: relative;
        cursor: pointer;
      }

      .searchbtn:hover {
        background-color: burlywood ;
      }

      .searchbtn .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 18px;
      }

      

  